<div id="settings-main">
    <h2>Settings</h2>
    <fieldset>
        <label for="server_ip">Server IP</label><input id="server_ip" name="server_ip" type="text" placeholder="lave blank to use this server">
        <label for="downl_urls_folder">Download Urls Folder</label><input id="downl_urls_folder" name="downl_urls_folder" type="text" placeholder="where to save downloads urls ">
        <label for="mmr_exec_file">Madoda Manager Exec File</label><input id="mmr_exec_file" name="mmr_exec_file" type="text" placeholder="location of wp_mddmanager.py ">
    </fieldset>
    
    <h2>Auth</h2>
    <fieldset>
        <label for="mddr_user_auth">User</label><input id="mddr_user_auth" name="mddr_user_auth" type="text">
        <label for="mddr_pass_auth">User</label><input id="mddr_pass_auth" name="mddr_pass_auth" type="text">
    </fieldset>
    <div class="response"></div>
    <button id="save-settings">Save</button>
    <br>

    <div>
        <h2>Allow IPS</h2>
        <label for="mddr_allowed_ip_input">ADD/Remove Ips</label><input id="mddr_allowed_ip_input" name="mddr_allowed_ip_input" type="text">
        <div class="aw-ips-response"></div>
        
        <label for="mddr_allowed_ip_btn"></label><input value="ADD/Remove Ips" id="mddr_allowed_ip_btn" name="mddr_allowed_ip_btn" type="button">

    </div>
</div>